


body{
    background-color:rgba(11, 16, 32, 0.822);
}


.container {
    /* border: 2px solid red; */
    border-radius: 10px;
    display: grid;
    margin: 3vi;
    padding: 3vi;
    gap: 2vi;
    background-color: black;
    grid-template-columns: auto auto;
  }


.image1{
  /* border: 2px solid red; */
  background-color: #151315;
  border-radius: 10px;
  height: 29.5vi;  
  width: 45vi;
}

.image2{
  /* border: 2px solid red; */
  background-color: #151315;
  border-radius: 10px;
  height: 29.5vi;  
  width: 45vi;
}

.image3{
  /* border: 2px solid red; */
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 61.4vi;  
  width: 40vi;
}

.image4{
  /* border: 2px solid red; */
  border-radius: 10px;
  grid-column: 1; 
  grid-row: 3/5;
  height: 55vi;  
  width: 40vi;
}