


body{
    background-color:rgba(11, 16, 32, 0.822);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 100px 0;
}




